extends layout

block css
	link(rel="stylesheet", href="/css/about.css")

block js
	script(src="/js/about.js")

block content
	#body.page-row
		#title-bar.page-section.container_16
			.heading About Jaze
			p.subheading We're a technology company based in Sydney with a web publishing platform called Bluetree
		
		#info
			.container_16
				.half.what.grid_8.border-box
					h2 Who we are
					p We are Jaze Technology. We're a small company (for the moment) but we have grand visions of changing the way businesses use the web to interact with their customers and communities and we don't hesitate to step out of our comfort zone occasionally (actually it's becoming a bit of a habit). Chances are you've used one of our websites already.
					p Recently we've been busy turning some intense web technology R&amp;D into affordable web apps for businesses, communities and community groups.
				.half.how.grid_8.border-box
					h2 What we do
					p We've built an application platform called Bluetree that we use each and every day to deliver web apps, websites and systems we're proud of. We aim to solve (and often succeed in solving) common, chronic problems that small businesses and their customers face online.
					p We deliver solutions for directories, associations, magazines and most of all, businesses big and small. We also donate our time to fundraising efforts by schools and community groups whenever possible.
