extends layout

block css
	link(rel="stylesheet", type="text/css", href="/css/showcase.css")

block content
	#body.page-row
		.container_16
			#title-bar.page-section
				.heading Some of our projects
				p.subheading Aside from developing our Web Platform (Bluetree) and working on community tools and projects, we do work we're proud of for clients we love. Here's a selection of what we've been up to lately.
			
			#projects
				.project
					a.url(href="http://www.cosl.com.au", target="_blank") http://www.cosl.com.au
					h2 Credit Ombudsman Service Limited
					img(src="/img/showcase/cosl.jpg")
					.overview
				.project
					a.url(href="http://www.bodymindlife.com", target="_blank") http://www.bodymindlife.com
					h2 BodyMindLife
					img(src="/img/showcase/bml.jpg")
					.overview
				.project
					a.url(href="http://www.balmainbodies.com.au", target="_blank") http://www.balmainbodies.com.au
					h2 Balmain Bodies Pilates Studio
					img(src="/img/showcase/bb.jpg")
					.overview
				.project
					a.url(href="", target="_blank")
					h2 IFS
					img(src="/img/showcase/ifs.jpg")
					.overview
				.project
					a.url(href="http://www.mica.org.au", target="_blank") http://www.mica.org.au
					h2 MICA
					img(src="/img/showcase/mica.jpg")
					.overview
				.project
					a.url(href="http://www.lowdown.net.au", target="_blank") http://www.lowdown.net.au
					h2 Lowdown
					img(src="/img/showcase/lowdown.jpg")
					.overview
